@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  text-align: center;
  padding: 35px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.43);
  border-radius: 10px;
  height: 500px;
  margin: 30px 2em;
  padding-left: 35px;
  padding-right: 35px;
  flex: 0 1 22%;
}
img {
  border-radius: 30px;
  padding: 25px;
}
h2 {
  font-family: "Rampart One", cursive;
  font-size: 30px;
}
p {
  font-size: 20px;
  font-weight: bold;
}
body {
  background-image: linear-gradient(
    #094092,
    rgb(165, 0, 168),
    rgb(155, 48, 102)
  );
}

.title {
  transition: transform 0.75s;
}

.title:hover {
  transform: scale(1.15);
}

.box-shadow {
  transition: box-shadow 0.2s;
}
.box-shadow:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
}
.blur img {
  transition: 1s ease;
}
.blur img:hover {
  -webkit-filter: blur(5px);
  transition: 1s ease;
}
.header {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  padding: 35px;
  font-size: 38px;
  color: #fff;
  text-shadow: 0 0 7px rgb(192, 185, 185), 0 0 10px rgb(214, 205, 205),
    0 0 21px rgb(209, 189, 189), 0 0 42px rgb(55, 119, 98), 0 0 82px #0fa,
    0 0 92px rgb(134, 151, 145), 0 0 102px rgb(238, 158, 158), 0 0 151px #0fa;
}
.swap {
  position: relative;
  display: inline-block;
}
.swap .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.swap:hover .img-top {
  display: inline;
}

.shake:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.rotate img{
  transition: 1s ease;
  }
  .rotate img:hover{
  -webkit-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
  transition: 1s ease;
  }