@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  text-align: center;
  padding: 35px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.43);
  border-radius: 10px;
  height: 500px;
  margin: 30px 2em;
  padding-left: 35px;
  padding-right: 35px;
  flex: 0 1 22%;
}
img {
  border-radius: 30px;
  padding: 25px;
}
h2 {
  font-family: "Rampart One", cursive;
  font-size: 30px;
}
p {
  font-size: 20px;
  font-weight: bold;
}
body {
  background-image: linear-gradient(#3a88fe, rgb(144, 43, 145), hotpink);
}

.box-shadow {
  transition: box-shadow 0.2s;
}
.box-shadow:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
}
.blur img {
  transition: 1s ease;
}
.blur img:hover {
  -webkit-filter: blur(5px);
  transition: 1s ease;
}
